.account {
  &__wrapper {
    min-height: 96vh;
    display: grid;
    place-items: center;
  }
  &__title-wrapper {
    text-align: center;
  }
  &__title {
    font-size: $font-size-xl;
    margin-bottom: 10px;
  }
  &__email {
    color: $dark-grey;
    margin-bottom: 10px;
  }
  &__role {
    font-size: $font-size-small;
    text-transform: uppercase;
  }
  &__send-soup {
    margin-bottom: 20px;
  }
  &__buttons {
    @include list-reset;
    margin-top: 50px;
    width: 100%;
  }
}