.burger-menu {
  position: relative;
  display: grid;
  place-items: center;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2000;

  &:focus {
    outline: none;
  }
  
  span {
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #222;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    
    &:before, &:after {
      position: absolute;
      background: #222;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      transition: all .2s ease-in-out;
    }
    
    &:before {
      left: 0;
      top: 0;
    }
    
    &:after {
      left: 0;
      bottom: 0;
    }
  }
}

.burger-menu.active {
  span {
    background: transparent;  
    
    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }
    
    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
} 