.header {
  display: grid;
  grid-template-columns: 60px auto 60px;
  min-height: 45px;
  padding: 0 $padding-mobile;
  align-items: center;
  background-color: $bg1;

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__burger-btn {
    display: flex;
  }

  &__user-group {
    display: flex;
    justify-content: space-between;
  }
}