.header {
  position: fixed;
  width: 100%;
  background-color: $bg1; 
  z-index: 100;
  box-shadow: $box-shadow;

  &__wrapper {
    display: grid;
    grid-template-columns: 60px auto 60px;
    align-items: center;
    min-height: 45px;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__burger-btn {
    display: flex;
  }

  &__user-group {
    display: flex;
    justify-content: space-between;
  }
}