.ingredients {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  
  &__title {
    @include subtitle;
  }
  &__list {
    font-family: $font-secondary;
    font-size: $font-size-medium;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $black;
  }

  &--show {
    margin-bottom: 20px;
    animation-name: expand;
    animation-duration: 0.3s;
  }

  @keyframes expand {
    0% {
      height: 0px;
    }
    100% {
      height: auto;
      margin-bottom: 20px;
    }
  }
}