.menu-nav {
  position: fixed;
  margin-top: 45px;
  width: 100%;
  max-height: 45px;
  color: $black;
  background-color: $accent;
  z-index: 10;

  &__wrapper {
    width: 100%;
    padding: 0;
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    @include title;
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 45px;
    font-size: $font-size-medium;

    &--active {
      box-shadow: inset 0 -3px 0 0 $black;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}