.menu-card {
  display: flex;
  flex-direction: column;
  background-color: $white;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s linear;

    &--large {
      height: 400px;
    }
  }

  &__content {
    padding: 20px 20px 10px;
    min-height: 1px;
    transition: all ease-in-out 0.3s;

    &--info {
      min-height: 300px;
    }
  }

  &__item-type {
    margin-bottom: 10px;
    font-family: $font-secondary;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $green;
  }

  &__title-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__title,
  &__price {
    @include title;
  }

  &__description {
    font-size: $font-size-medium;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__admin-view {
    position: relative;
    min-height: 30px;
  }

  &__overflow-menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 20px;
    font-family: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba($black, 0.05);
    }
    
    &:focus {
      outline: none;
    }

    &:before {
      position: absolute;
      content: "\00B7 \00B7 \00B7";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      letter-spacing: -1px;
      color: $black;
    }
  }

  &__addtocart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}