.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px $padding-mobile 0;
  color: $color-text;
  background-color: $bg1;
  overflow: hidden;
  z-index: 105;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateY(0);
  }

  &__overlay {
    @include overlay;
  }

  &__list {
    @include list-reset;
    max-height: calc(100% - 45px);
    overflow: auto;
  }

  &__item {
    padding: 20px 0;
  }

  &__link {
    font-size: $font-size-large * 2;
    text-decoration: none;
    color: $color-text;
  }
}