@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin overlay {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba($black, 0.2);
}