// Font Families
$font-family: 'Roboto', sans-serif;
$font-secondary: 'Avenir Next Condensed';

// Typography
$font-size-xl: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-xs: 12px;

// Font Weight
$thin: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// Colors
$white: #ffffff;
$black: #000000;
$accent: #ffbf00;
$green: #4caf50;
$light-grey: #f2f2f2;
$dark-grey: #716d6a;
$subtle-grey: #f6f6f6;

$color-text: #000000;
$bg1: #ffffff;
$body-background: #f8f7f5;
$scrollbar-thumb: #cecece;

// Other
$padding-mobile: 20px;
$box-shadow: 0px 2px 4px rgba($black, 0.2);